<a href="https://colab.research.google.com/github/GerardAlba/UdAAnaliticaFinancera/blob/main/SimFinAPI.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Les dades financeres de les companyies són les característiques o matriu *X*, i *y* representarà els preus de les accions (etiquetes/target). Obtindrem el dataset de SimFin

In [ ]:
from matplotlib import pyplot as plt
import pandas as pd
import numpy as np
import math

In [ ]:
pip install simfin

Collecting simfin
  Downloading simfin-1.0.1-py3-none-any.whl.metadata (637 bytes)
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (from simfin) (2.1.4)
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from simfin) (1.26.4)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from simfin) (2.31.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas->simfin) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas->simfin) (2024.1)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas->simfin) (2024.1)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests->simfin) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->simfin) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests->simfin) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests->simfin) (2024.7.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas->simfin) (1.16.0)
Downloading simfin-1.0.1-py3-none-any.whl (61 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 61.6/61.6 kB 2.2 MB/s eta 0:00:00
Installing collected packages: simfin
Successfully installed simfin-1.0.1

In [ ]:
# Dataset financer: https://simfin.com/
# Instal.lem: pip install simfin
# import simfin package
import simfin as sf

def getXDataMerged():
  # API-key per connectar simfin (cal usuari a simfin)
  sf.set_api_key('29fb3e92-e893-409a-9655-ba8cf31cd33b')

  # Set the local directory where data-files are stored.
  # The directory will be created if it does not already exist.
  sf.set_data_dir('~/simfin_data/')

  # Descarreguem les dades de simfin i assignem a un DataFrame de Pandas
  a = sf.load_income(variant='annual')
  a = a.reset_index()
  #a.reset_index(level=['Ticker_x'])
  print(a.keys())
  b = sf.load_balance(variant='annual')
  #b.reset_index(level=['Ticker'])
  b = b.reset_index()
  print(b.keys())
  c = sf.load_cashflow(variant='annual')
  #c.reset_index(level=['Ticker'])
  c = c.reset_index()
  print(c.keys())
  print('Income Statement: ', a.shape)
  #print(a.keys)
  print('Balance Sheet: ', b.shape)
  #print(b.keys)
  print('Cash Flow: ' ,c.shape)
  #print(c.keys)

  result = pd.merge(a, b, on=['Ticker', 'SimFinId','Currency','Fiscal Year','Report Date','Publish Date'])
  result = pd.merge(result, c, on=['Ticker','SimFinId','Currency','Fiscal Year','Report Date','Publish Date'])

  print('Matriu X:', result.shape)
  return result

In [ ]:
x=getXDataMerged()

Dataset "us-income-annual" not on disk.
- Downloading ... 100.0%
- Extracting zip-file ... Done!
- Loading from disk ...

/usr/local/lib/python3.10/dist-packages/simfin/load.py:154: FutureWarning: The argument 'date_parser' is deprecated and will be removed in a future version. Please use 'date_format' instead, or read your data in as 'object' dtype and then call 'to_datetime'.
  df = pd.read_csv(path, sep=';', header=0,

Done!
Index(['Ticker', 'Report Date', 'SimFinId', 'Currency', 'Fiscal Year',
       'Fiscal Period', 'Publish Date', 'Restated Date', 'Shares (Basic)',
       'Shares (Diluted)', 'Revenue', 'Cost of Revenue', 'Gross Profit',
       'Operating Expenses', 'Selling, General & Administrative',
       'Research & Development', 'Depreciation & Amortization',
       'Operating Income (Loss)', 'Non-Operating Income (Loss)',
       'Interest Expense, Net', 'Pretax Income (Loss), Adj.',
       'Abnormal Gains (Losses)', 'Pretax Income (Loss)',
       'Income Tax (Expense) Benefit, Net',
       'Income (Loss) from Continuing Operations',
       'Net Extraordinary Gains (Losses)', 'Net Income',
       'Net Income (Common)'],
      dtype='object')
Dataset "us-balance-annual" not on disk.
- Downloading ... 100.0%
- Extracting zip-file ... Done!
- Loading from disk ...

/usr/local/lib/python3.10/dist-packages/simfin/load.py:154: FutureWarning: The argument 'date_parser' is deprecated and will be removed in a future version. Please use 'date_format' instead, or read your data in as 'object' dtype and then call 'to_datetime'.
  df = pd.read_csv(path, sep=';', header=0,

Done!
Index(['Ticker', 'Report Date', 'SimFinId', 'Currency', 'Fiscal Year',
       'Fiscal Period', 'Publish Date', 'Restated Date', 'Shares (Basic)',
       'Shares (Diluted)', 'Cash, Cash Equivalents & Short Term Investments',
       'Accounts & Notes Receivable', 'Inventories', 'Total Current Assets',
       'Property, Plant & Equipment, Net',
       'Long Term Investments & Receivables', 'Other Long Term Assets',
       'Total Noncurrent Assets', 'Total Assets', 'Payables & Accruals',
       'Short Term Debt', 'Total Current Liabilities', 'Long Term Debt',
       'Total Noncurrent Liabilities', 'Total Liabilities',
       'Share Capital & Additional Paid-In Capital', 'Treasury Stock',
       'Retained Earnings', 'Total Equity', 'Total Liabilities & Equity'],
      dtype='object')
Dataset "us-cashflow-annual" not on disk.
- Downloading ... 100.0%
- Extracting zip-file ... Done!
- Loading from disk ...

/usr/local/lib/python3.10/dist-packages/simfin/load.py:154: FutureWarning: The argument 'date_parser' is deprecated and will be removed in a future version. Please use 'date_format' instead, or read your data in as 'object' dtype and then call 'to_datetime'.
  df = pd.read_csv(path, sep=';', header=0,

Done!
Index(['Ticker', 'Report Date', 'SimFinId', 'Currency', 'Fiscal Year',
       'Fiscal Period', 'Publish Date', 'Restated Date', 'Shares (Basic)',
       'Shares (Diluted)', 'Net Income/Starting Line',
       'Depreciation & Amortization', 'Non-Cash Items',
       'Change in Working Capital', 'Change in Accounts Receivable',
       'Change in Inventories', 'Change in Accounts Payable',
       'Change in Other', 'Net Cash from Operating Activities',
       'Change in Fixed Assets & Intangibles',
       'Net Change in Long Term Investment',
       'Net Cash from Acquisitions & Divestitures',
       'Net Cash from Investing Activities', 'Dividends Paid',
       'Cash from (Repayment of) Debt', 'Cash from (Repurchase of) Equity',
       'Net Cash from Financing Activities', 'Net Change in Cash'],
      dtype='object')
Income Statement:  (17568, 28)
Balance Sheet:  (17564, 30)
Cash Flow:  (17570, 28)
Matriu X: (15625, 74)

Podem veure són les característiques x del dataset:

In [ ]:
x.keys()

Index(['Ticker', 'Report Date', 'SimFinId', 'Currency', 'Fiscal Year',
       'Fiscal Period_x', 'Publish Date', 'Restated Date_x',
       'Shares (Basic)_x', 'Shares (Diluted)_x', 'Revenue', 'Cost of Revenue',
       'Gross Profit', 'Operating Expenses',
       'Selling, General & Administrative', 'Research & Development',
       'Depreciation & Amortization_x', 'Operating Income (Loss)',
       'Non-Operating Income (Loss)', 'Interest Expense, Net',
       'Pretax Income (Loss), Adj.', 'Abnormal Gains (Losses)',
       'Pretax Income (Loss)', 'Income Tax (Expense) Benefit, Net',
       'Income (Loss) from Continuing Operations',
       'Net Extraordinary Gains (Losses)', 'Net Income', 'Net Income (Common)',
       'Fiscal Period_y', 'Restated Date_y', 'Shares (Basic)_y',
       'Shares (Diluted)_y', 'Cash, Cash Equivalents & Short Term Investments',
       'Accounts & Notes Receivable', 'Inventories', 'Total Current Assets',
       'Property, Plant & Equipment, Net',
       'Long Term Investments & Receivables', 'Other Long Term Assets',
       'Total Noncurrent Assets', 'Total Assets', 'Payables & Accruals',
       'Short Term Debt', 'Total Current Liabilities', 'Long Term Debt',
       'Total Noncurrent Liabilities', 'Total Liabilities',
       'Share Capital & Additional Paid-In Capital', 'Treasury Stock',
       'Retained Earnings', 'Total Equity', 'Total Liabilities & Equity',
       'Fiscal Period', 'Restated Date', 'Shares (Basic)', 'Shares (Diluted)',
       'Net Income/Starting Line', 'Depreciation & Amortization_y',
       'Non-Cash Items', 'Change in Working Capital',
       'Change in Accounts Receivable', 'Change in Inventories',
       'Change in Accounts Payable', 'Change in Other',
       'Net Cash from Operating Activities',
       'Change in Fixed Assets & Intangibles',
       'Net Change in Long Term Investment',
       'Net Cash from Acquisitions & Divestitures',
       'Net Cash from Investing Activities', 'Dividends Paid',
       'Cash from (Repayment of) Debt', 'Cash from (Repurchase of) Equity',
       'Net Cash from Financing Activities', 'Net Change in Cash'],
      dtype='object')

Obtenim a continuació els preus diaris de les accions, que ens serviran per calcular les rendibilitats anuals *y*

In [ ]:
def getYRawData():
    d = sf.load_shareprices(variant='daily')
    d = d.reset_index()
    #d.reset_index(level=['Ticker'])
    print('Preus de les accions: ',d.shape)
    d['Date']=pd.to_datetime(d['Date'])
    return d

In [ ]:
p=getYRawData()
p.keys()
#p[p['Ticker']=='AAPL']

Dataset "us-shareprices-daily" not on disk.
- Downloading ... 100.0%
- Extracting zip-file ... Done!
- Loading from disk ...

/usr/local/lib/python3.10/dist-packages/simfin/load.py:154: FutureWarning: The argument 'date_parser' is deprecated and will be removed in a future version. Please use 'date_format' instead, or read your data in as 'object' dtype and then call 'to_datetime'.
  df = pd.read_csv(path, sep=';', header=0,

Done!
Preus de les accions:  (5365404, 11)

Index(['Ticker', 'Date', 'SimFinId', 'Open', 'High', 'Low', 'Close',
       'Adj. Close', 'Volume', 'Dividend', 'Shares Outstanding'],
      dtype='object')

In [ ]:
# return just the y price and volume near date (as have imperfect data).
# Want the volume data returned to remove stocks with near 0 volume later.
# d is just the raw Y data
# modifier just modifies the date to look between. Can be done differently.
def getYPriceDataNearDate(ticker, date, modifier, d):
    windowDays=5
    rows=d[(d["Date"].between(pd.to_datetime(date) + pd.Timedelta(days=modifier), \
          pd.to_datetime(date) + pd.Timedelta(days=windowDays+modifier))) \
      & (d["Ticker"]==ticker)]
    #print(rows)
    rows = \
    d[(d["Date"].between(pd.to_datetime(date) + pd.Timedelta(days=modifier),\
       pd.to_datetime(date) + pd.Timedelta(days=windowDays+modifier))) \
      & (d["Ticker"]==ticker)]
    if rows.empty:
        return [ticker, np.float_("NaN"),\
                np.datetime64('NaT'),\
                np.float_("NaN")]
    else:
        return [ticker, rows.iloc[0]["Open"],\
                rows.iloc[0]["Date"],\
                rows.iloc[0]["Volume"]*rows.iloc[0]["Open"]]
        #take the first item of the list of days that fall in the window of accepted days.

In [ ]:
getYPriceDataNearDate(ticker='AAPL',date='2018-09-18',modifier=0,d=p)

['AAPL', 54.45, Timestamp('2018-09-18 00:00:00'), 6876318873.6]

In [ ]:
# modifier is effectively the hold period for a stock.
# x is the vector of company data
# d is the Y raw data (stock price and date for all days)
def getYPricesReportDateAndTargetDate(x, d, modifier=365):
    i=0

    # Preallocation list of list of 2 \
    # [(price at date) (price at date + modifier)]
    y = [[None]*8 for i in range(len(x))]

    whichDateCol='Publish Date'# or 'Report Date', \
    # is the performance date from->to. Want this to be publish date.
    y1=getYPriceDataNearDate(x['Ticker'].iloc[0],x[whichDateCol].iloc[0], 0, d)
    print(y1)

    y[0]=(getYPriceDataNearDate(x['Ticker'].iloc[0], x[whichDateCol].iloc[0], 0, d) + getYPriceDataNearDate(x['Ticker'].iloc[0], x[whichDateCol].iloc[0], modifier, d))

    # Because of time lag between report date\
    # (which can't be actioned on) and publish date\
    # (data we can trade with)
    for index in range(len(x)):
        y[i]=(getYPriceDataNearDate(\
            x['Ticker'].iloc[index], x[whichDateCol].iloc[index], 0, d) + \
              getYPriceDataNearDate(\
            x['Ticker'].iloc[index], x[whichDateCol].iloc[index], modifier, d))
        i=i+1
    return y

In [ ]:
x=getXDataMerged()

Dataset "us-income-annual" on disk (0 days old).
- Loading from disk ...

/usr/local/lib/python3.10/dist-packages/simfin/load.py:154: FutureWarning: The argument 'date_parser' is deprecated and will be removed in a future version. Please use 'date_format' instead, or read your data in as 'object' dtype and then call 'to_datetime'.
  df = pd.read_csv(path, sep=';', header=0,

Done!
Index(['Ticker', 'Report Date', 'SimFinId', 'Currency', 'Fiscal Year',
       'Fiscal Period', 'Publish Date', 'Restated Date', 'Shares (Basic)',
       'Shares (Diluted)', 'Revenue', 'Cost of Revenue', 'Gross Profit',
       'Operating Expenses', 'Selling, General & Administrative',
       'Research & Development', 'Depreciation & Amortization',
       'Operating Income (Loss)', 'Non-Operating Income (Loss)',
       'Interest Expense, Net', 'Pretax Income (Loss), Adj.',
       'Abnormal Gains (Losses)', 'Pretax Income (Loss)',
       'Income Tax (Expense) Benefit, Net',
       'Income (Loss) from Continuing Operations',
       'Net Extraordinary Gains (Losses)', 'Net Income',
       'Net Income (Common)'],
      dtype='object')
Dataset "us-balance-annual" on disk (0 days old).
- Loading from disk ...

/usr/local/lib/python3.10/dist-packages/simfin/load.py:154: FutureWarning: The argument 'date_parser' is deprecated and will be removed in a future version. Please use 'date_format' instead, or read your data in as 'object' dtype and then call 'to_datetime'.
  df = pd.read_csv(path, sep=';', header=0,

Done!
Index(['Ticker', 'Report Date', 'SimFinId', 'Currency', 'Fiscal Year',
       'Fiscal Period', 'Publish Date', 'Restated Date', 'Shares (Basic)',
       'Shares (Diluted)', 'Cash, Cash Equivalents & Short Term Investments',
       'Accounts & Notes Receivable', 'Inventories', 'Total Current Assets',
       'Property, Plant & Equipment, Net',
       'Long Term Investments & Receivables', 'Other Long Term Assets',
       'Total Noncurrent Assets', 'Total Assets', 'Payables & Accruals',
       'Short Term Debt', 'Total Current Liabilities', 'Long Term Debt',
       'Total Noncurrent Liabilities', 'Total Liabilities',
       'Share Capital & Additional Paid-In Capital', 'Treasury Stock',
       'Retained Earnings', 'Total Equity', 'Total Liabilities & Equity'],
      dtype='object')
Dataset "us-cashflow-annual" on disk (0 days old).
- Loading from disk ...

/usr/local/lib/python3.10/dist-packages/simfin/load.py:154: FutureWarning: The argument 'date_parser' is deprecated and will be removed in a future version. Please use 'date_format' instead, or read your data in as 'object' dtype and then call 'to_datetime'.
  df = pd.read_csv(path, sep=';', header=0,

Done!
Index(['Ticker', 'Report Date', 'SimFinId', 'Currency', 'Fiscal Year',
       'Fiscal Period', 'Publish Date', 'Restated Date', 'Shares (Basic)',
       'Shares (Diluted)', 'Net Income/Starting Line',
       'Depreciation & Amortization', 'Non-Cash Items',
       'Change in Working Capital', 'Change in Accounts Receivable',
       'Change in Inventories', 'Change in Accounts Payable',
       'Change in Other', 'Net Cash from Operating Activities',
       'Change in Fixed Assets & Intangibles',
       'Net Change in Long Term Investment',
       'Net Cash from Acquisitions & Divestitures',
       'Net Cash from Investing Activities', 'Dividends Paid',
       'Cash from (Repayment of) Debt', 'Cash from (Repurchase of) Equity',
       'Net Cash from Financing Activities', 'Net Change in Cash'],
      dtype='object')
Income Statement:  (17568, 28)
Balance Sheet:  (17564, 30)
Cash Flow:  (17570, 28)
Matriu X: (15625, 74)

In [ ]:
x.to_csv("Annual_Stock_Price_Fundamentals.csv")
from google.colab import files
files.download("Annual_Stock_Price_Fundamentals.csv")

In [ ]:
# We want to know the performance for each stock, each year, between 10-K report dates.
# takes VERY long time, several hours.
d = getYRawData()

Dataset "us-shareprices-daily" on disk (0 days old).
- Loading from disk ...

/usr/local/lib/python3.10/dist-packages/simfin/load.py:154: FutureWarning: The argument 'date_parser' is deprecated and will be removed in a future version. Please use 'date_format' instead, or read your data in as 'object' dtype and then call 'to_datetime'.
  df = pd.read_csv(path, sep=';', header=0,

Done!
Preus de les accions:  (5365404, 11)

In [ ]:
xs=x.head(50)
#ds=d.head(500)
len(xs)

50

In [ ]:
getYPriceDataNearDate(ticker='A',date='2018-09-18',modifier=0,d=p)

['A', 69.1, Timestamp('2018-09-18 00:00:00'), 123026814.69999999]

In [ ]:
y = getYPricesReportDateAndTargetDate(xs, d, 365) # because of lookups in this function.

['A', 66.33, Timestamp('2018-12-20 00:00:00'), 235326502.62]

In [ ]:
y

[['A',
  66.33,
  Timestamp('2018-12-20 00:00:00'),
  235326502.62,
  'A',
  84.94,
  Timestamp('2019-12-20 00:00:00'),
  194325137.42],
 ['A',
  83.95,
  Timestamp('2019-12-19 00:00:00'),
  142379703.70000002,
  'A',
  119.23,
  Timestamp('2020-12-18 00:00:00'),
  466401648.63],
 ['A',
  119.23,
  Timestamp('2020-12-18 00:00:00'),
  466401648.63,
  'A',
  150.76,
  Timestamp('2021-12-20 00:00:00'),
  305621727.32],
 ['A',
  150.35,
  Timestamp('2021-12-17 00:00:00'),
  395223541.5,
  'A',
  148.91,
  Timestamp('2022-12-19 00:00:00'),
  190210784.14],
 ['A',
  148.94,
  Timestamp('2022-12-21 00:00:00'),
  185896631.14,
  'A',
  nan,
  numpy.datetime64('NaT'),
  nan],
 ['A21',
  nan,
  numpy.datetime64('NaT'),
  nan,
  'A21',
  nan,
  numpy.datetime64('NaT'),
  nan],
 ['A21',
  nan,
  numpy.datetime64('NaT'),
  nan,
  'A21',
  nan,
  numpy.datetime64('NaT'),
  nan],
 ['AA',
  30.7,
  Timestamp('2019-02-26 00:00:00'),
  114315502.39999999,
  'AA',
  14.64,
  Timestamp('2020-02-26 00:00:00'),
  70216470.48],
 ['AA',
  16.01,
  Timestamp('2020-02-21 00:00:00'),
  88506770.18,
  'AA',
  23.46,
  Timestamp('2021-02-22 00:00:00'),
  219047756.04000002],
 ['AA',
  27.48,
  Timestamp('2021-02-25 00:00:00'),
  231349201.08,
  'AA',
  73.11,
  Timestamp('2022-02-25 00:00:00'),
  538228874.55],
 ['AA',
  75.29,
  Timestamp('2022-02-24 00:00:00'),
  874185489.19,
  'AA',
  46.93,
  Timestamp('2023-02-24 00:00:00'),
  215299212.31],
 ['AA',
  48.5,
  Timestamp('2023-02-23 00:00:00'),
  225735441.5,
  'AA',
  nan,
  numpy.datetime64('NaT'),
  nan],
 ['AAC',
  9.76,
  Timestamp('2022-03-04 00:00:00'),
  723020.7999999999,
  'AAC',
  10.24,
  Timestamp('2023-03-06 00:00:00'),
  937584.64],
 ['AAC',
  10.23,
  Timestamp('2023-02-28 00:00:00'),
  181654.11000000002,
  'AAC',
  nan,
  numpy.datetime64('NaT'),
  nan],
 ['AACI',
  9.8,
  Timestamp('2021-12-29 00:00:00'),
  88415.6,
  'AACI',
  10.1,
  Timestamp('2022-12-29 00:00:00'),
  101.0],
 ['AAC_delisted',
  nan,
  numpy.datetime64('NaT'),
  nan,
  'AAC_delisted',
  nan,
  numpy.datetime64('NaT'),
  nan],
 ['AAGH',
  0.14,
  Timestamp('2021-03-23 00:00:00'),
  7219.1,
  'AAGH',
  0.06,
  Timestamp('2022-03-23 00:00:00'),
  1411.5],
 ['AAGH',
  0.0,
  Timestamp('2022-01-21 00:00:00'),
  0.0,
  'AAGH',
  0.01,
  Timestamp('2023-01-23 00:00:00'),
  0.0],
 ['AAGH',
  0.0,
  Timestamp('2022-10-31 00:00:00'),
  0.0,
  'AAGH',
  nan,
  numpy.datetime64('NaT'),
  nan],
 ['AAGH',
  nan,
  numpy.datetime64('NaT'),
  nan,
  'AAGH',
  nan,
  numpy.datetime64('NaT'),
  nan],
 ['AAIC',
  8.7,
  Timestamp('2019-02-19 00:00:00'),
  7152235.199999999,
  'AAIC',
  6.42,
  Timestamp('2020-02-19 00:00:00'),
  7221902.9399999995],
 ['AAIC',
  6.58,
  Timestamp('2020-02-24 00:00:00'),
  3061160.7600000002,
  'AAIC',
  4.06,
  Timestamp('2021-02-23 00:00:00'),
  870719.7799999999],
 ['AAIC',
  3.95,
  Timestamp('2021-02-26 00:00:00'),
  822180.65,
  'AAIC',
  3.21,
  Timestamp('2022-02-28 00:00:00'),
  208216.65],
 ['AAIC',
  3.45,
  Timestamp('2022-03-10 00:00:00'),
  179306.85,
  'AAIC',
  2.93,
  Timestamp('2023-03-10 00:00:00'),
  295402.60000000003],
 ['AAIC',
  2.76,
  Timestamp('2023-03-31 00:00:00'),
  822590.3999999999,
  'AAIC',
  nan,
  numpy.datetime64('NaT'),
  nan],
 ['AAL',
  35.75,
  Timestamp('2019-02-25 00:00:00'),
  389886854.5,
  'AAL',
  25.62,
  Timestamp('2020-02-25 00:00:00'),
  571246039.98],
 ['AAL',
  28.84,
  Timestamp('2020-02-19 00:00:00'),
  242285561.0,
  'AAL',
  17.83,
  Timestamp('2021-02-18 00:00:00'),
  469431342.41999996],
 ['AAL',
  17.69,
  Timestamp('2021-02-17 00:00:00'),
  626021892.7800001,
  'AAL',
  18.54,
  Timestamp('2022-02-17 00:00:00'),
  555278432.22],
 ['AAL',
  17.44,
  Timestamp('2022-02-22 00:00:00'),
  562281801.76,
  'AAL',
  15.64,
  Timestamp('2023-02-22 00:00:00'),
  348362341.48],
 ['AAL',
  15.64,
  Timestamp('2023-02-22 00:00:00'),
  348362341.48,
  'AAL',
  nan,
  numpy.datetime64('NaT'),
  nan],
 ['AAMC',
  13.12,
  Timestamp('2020-02-28 00:00:00'),
  118184.95999999999,
  'AAMC',
  13.29,
  Timestamp('2021-03-01 00:00:00'),
  353327.94],
 ['AAMC',
  14.51,
  Timestamp('2021-03-03 00:00:00'),
  1977800.06,
  'AAMC',
  10.53,
  Timestamp('2022-03-03 00:00:00'),
  0.0],
 ['AAMC',
  8.22,
  Timestamp('2022-03-31 00:00:00'),
  40762.98,
  'AAMC',
  40.58,
  Timestamp('2023-03-31 00:00:00'),
  3761400.78],
 ['AAMC',
  36.74,
  Timestamp('2023-03-27 00:00:00'),
  1879544.9200000002,
  'AAMC',
  nan,
  numpy.datetime64('NaT'),
  nan],
 ['AAN',
  nan,
  numpy.datetime64('NaT'),
  nan,
  'AAN',
  nan,
  numpy.datetime64('NaT'),
  nan],
 ['AAN',
  nan,
  numpy.datetime64('NaT'),
  nan,
  'AAN',
  20.5,
  Timestamp('2021-02-19 00:00:00'),
  6065601.5],
 ['AAN',
  22.28,
  Timestamp('2021-02-23 00:00:00'),
  13751884.4,
  'AAN',
  20.54,
  Timestamp('2022-02-23 00:00:00'),
  8826181.78],
 ['AAN',
  19.42,
  Timestamp('2022-02-24 00:00:00'),
  15231397.3,
  'AAN',
  13.8,
  Timestamp('2023-02-24 00:00:00'),
  3888577.8000000003],
 ['AAN',
  14.23,
  Timestamp('2023-03-01 00:00:00'),
  3567005.64,
  'AAN',
  nan,
  numpy.datetime64('NaT'),
  nan],
 ['AAOI',
  8.95,
  Timestamp('2020-02-28 00:00:00'),
  13276814.85,
  'AAOI',
  9.52,
  Timestamp('2021-03-01 00:00:00'),
  12152832.16],
 ['AAOI',
  11.61,
  Timestamp('2021-02-25 00:00:00'),
  7560815.13,
  'AAOI',
  3.79,
  Timestamp('2022-02-25 00:00:00'),
  5322463.76],
 ['AAOI',
  3.74,
  Timestamp('2022-02-24 00:00:00'),
  2858437.12,
  'AAOI',
  2.97,
  Timestamp('2023-02-24 00:00:00'),
  975404.43],
 ['AAOI',
  2.7,
  Timestamp('2023-02-27 00:00:00'),
  501967.80000000005,
  'AAOI',
  nan,
  numpy.datetime64('NaT'),
  nan],
 ['AAON',
  34.95,
  Timestamp('2020-02-27 00:00:00'),
  24395449.500000004,
  'AAON',
  51.61,
  Timestamp('2021-02-26 00:00:00'),
  14807528.32],
 ['AAON',
  51.48,
  Timestamp('2021-02-25 00:00:00'),
  14436845.28,
  'AAON',
  38.45,
  Timestamp('2022-02-25 00:00:00'),
  9893415.700000001],
 ['AAON',
  38.59,
  Timestamp('2022-02-28 00:00:00'),
  18019947.810000002,
  'AAON',
  58.0,
  Timestamp('2023-02-28 00:00:00'),
  115291182.0],
 ['AAON',
  54.31,
  Timestamp('2023-02-27 00:00:00'),
  35518196.9,
  'AAON',
  nan,
  numpy.datetime64('NaT'),
  nan],
 ['AAP',
  169.93,
  Timestamp('2019-02-19 00:00:00'),
  572522378.38,
  'AAP',
  141.51,
  Timestamp('2020-02-19 00:00:00'),
  143711612.57999998],
 ['AAP',
  145.39,
  Timestamp('2020-02-18 00:00:00'),
  418975015.47999996,
  'AAP',
  154.82,
  Timestamp('2021-02-17 00:00:00'),
  246004954.67999998],
 ['AAP',
  165.13,
  Timestamp('2021-02-22 00:00:00'),
  157224896.64,
  'AAP',
  217.9,
  Timestamp('2022-02-22 00:00:00'),
  286119914.1]]

In [ ]:
y=pd.DataFrame(y,columns=['Ticker','Open Price','Date','Volume','Ticker2','OpenPrice2','Date2','Volume2'])

In [ ]:
y

,Ticker,Open Price,Date,Volume,Ticker2,OpenPrice2,Date2,Volume2
0,A,66.33,2018-12-20,2.353265e+08,A,84.94,2019-12-20,1.943251e+08
1,A,83.95,2019-12-19,1.423797e+08,A,119.23,2020-12-18,4.664016e+08
2,A,119.23,2020-12-18,4.664016e+08,A,150.76,2021-12-20,3.056217e+08
3,A,150.35,2021-12-17,3.952235e+08,A,148.91,2022-12-19,1.902108e+08
4,A,148.94,2022-12-21,1.858966e+08,A,NaN,NaT,NaN
5,A21,NaN,NaT,NaN,A21,NaN,NaT,NaN
6,A21,NaN,NaT,NaN,A21,NaN,NaT,NaN
7,AA,30.70,2019-02-26,1.143155e+08,AA,14.64,2020-02-26,7.021647e+07
8,AA,16.01,2020-02-21,8.850677e+07,AA,23.46,2021-02-22,2.190478e+08
9,AA,27.48,2021-02-25,2.313492e+08,AA,73.11,2022-02-25,5.382289e+08
10,AA,75.29,2022-02-24,8.741855e+08,AA,46.93,2023-02-24,2.152992e+08
11,AA,48.50,2023-02-23,2.257354e+08,AA,NaN,NaT,NaN
12,AAC,9.76,2022-03-04,7.230208e+05,AAC,10.24,2023-03-06,9.375846e+05
13,AAC,10.23,2023-02-28,1.816541e+05,AAC,NaN,NaT,NaN
14,AACI,9.80,2021-12-29,8.841560e+04,AACI,10.10,2022-12-29,1.010000e+02
15,AAC_delisted,NaN,NaT,NaN,AAC_delisted,NaN,NaT,NaN
16,AAGH,0.14,2021-03-23,7.219100e+03,AAGH,0.06,2022-03-23,1.411500e+03
17,AAGH,0.00,2022-01-21,0.000000e+00,AAGH,0.01,2023-01-23,0.000000e+00
18,AAGH,0.00,2022-10-31,0.000000e+00,AAGH,NaN,NaT,NaN
19,AAGH,NaN,NaT,NaN,AAGH,NaN,NaT,NaN
20,AAIC,8.70,2019-02-19,7.152235e+06,AAIC,6.42,2020-02-19,7.221903e+06
21,AAIC,6.58,2020-02-24,3.061161e+06,AAIC,4.06,2021-02-23,8.707198e+05
22,AAIC,3.95,2021-02-26,8.221807e+05,AAIC,3.21,2022-02-28,2.082166e+05
23,AAIC,3.45,2022-03-10,1.793069e+05,AAIC,2.93,2023-03-10,2.954026e+05
24,AAIC,2.76,2023-03-31,8.225904e+05,AAIC,NaN,NaT,NaN
25,AAL,35.75,2019-02-25,3.898869e+08,AAL,25.62,2020-02-25,5.712460e+08
26,AAL,28.84,2020-02-19,2.422856e+08,AAL,17.83,2021-02-18,4.694313e+08
27,AAL,17.69,2021-02-17,6.260219e+08,AAL,18.54,2022-02-17,5.552784e+08
28,AAL,17.44,2022-02-22,5.622818e+08,AAL,15.64,2023-02-22,3.483623e+08
29,AAL,15.64,2023-02-22,3.483623e+08,AAL,NaN,NaT,NaN
30,AAMC,13.12,2020-02-28,1.181850e+05,AAMC,13.29,2021-03-01,3.533279e+05
31,AAMC,14.51,2021-03-03,1.977800e+06,AAMC,10.53,2022-03-03,0.000000e+00
32,AAMC,8.22,2022-03-31,4.076298e+04,AAMC,40.58,2023-03-31,3.761401e+06
33,AAMC,36.74,2023-03-27,1.879545e+06,AAMC,NaN,NaT,NaN
34,AAN,NaN,NaT,NaN,AAN,NaN,NaT,NaN
35,AAN,NaN,NaT,NaN,AAN,20.50,2021-02-19,6.065602e+06
36,AAN,22.28,2021-02-23,1.375188e+07,AAN,20.54,2022-02-23,8.826182e+06
37,AAN,19.42,2022-02-24,1.523140e+07,AAN,13.80,2023-02-24,3.888578e+06
38,AAN,14.23,2023-03-01,3.567006e+06,AAN,NaN,NaT,NaN
39,AAOI,8.95,2020-02-28,1.327681e+07,AAOI,9.52,2021-03-01,1.215283e+07
40,AAOI,11.61,2021-02-25,7.560815e+06,AAOI,3.79,2022-02-25,5.322464e+06
41,AAOI,3.74,2022-02-24,2.858437e+06,AAOI,2.97,2023-02-24,9.754044e+05
42,AAOI,2.70,2023-02-27,5.019678e+05,AAOI,NaN,NaT,NaN
43,AAON,34.95,2020-02-27,2.439545e+07,AAON,51.61,2021-02-26,1.480753e+07
44,AAON,51.48,2021-02-25,1.443685e+07,AAON,38.45,2022-02-25,9.893416e+06
45,AAON,38.59,2022-02-28,1.801995e+07,AAON,58.00,2023-02-28,1.152912e+08
46,AAON,54.31,2023-02-27,3.551820e+07,AAON,NaN,NaT,NaN
47,AAP,169.93,2019-02-19,5.725224e+08,AAP,141.51,2020-02-19,1.437116e+08
48,AAP,145.39,2020-02-18,4.189750e+08,AAP,154.82,2021-02-17,2.460050e+08
49,AAP,165.13,2021-02-22,1.572249e+08,AAP,217.90,2022-02-22,2.861199e+08

In [ ]:
y = getYPricesReportDateAndTargetDate(x, d, 365) # because of lookups in this function.

['A', 66.33, Timestamp('2018-12-20 00:00:00'), 235326502.62]

In [ ]:
y=pd.DataFrame(y,columns=['Ticker','Open Price','Date','Volume','Ticker2','OpenPrice2','Date2','Volume2'])